APP_BASE_URL=https://seu-dominio.com

VITE_GOOGLE_DRIVE_API_KEY=sua_google_api_key
VITE_GOOGLE_DRIVE_CLIENT_ID=seu_client_id.apps.googleusercontent.com
VITE_GOOGLE_DRIVE_APP_ID=seu_project_number_do_google_cloud

FIREBASE_ADMIN_PROJECT_ID=vocalsalvosporcristo-70e5f
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-xxxxx@vocalsalvosporcristo-70e5f.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

SMTP_SERVICE=gmail
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_de_app_do_google
SMTP_FROM_NAME=Vocal Salvos por Cristo
SMTP_FROM_EMAIL=seuemail@gmail.com
SMTP_REPLY_TO=seuemail@gmail.com